BOT_TYPE=napcat
CRAWLER_TYPE=api
NAPCAT_API_BASE_URL=
NAPCAT_API_TOKEN=
QQBOT_ACCOUNT=
MANAGER_GROUP_ID=


ENABLE_LIVE_MONITOR=true
CRAWL_INTERVAL_MIN=10
BILIBILI_ROOM_GROUP_BINDINGS={"12345":["@10001","10002"],"67890":["10003"]}
BILIBILI_API_TIMEOUT=
BILIBILI_API_MAX_RETRIES=
BILIBILI_API_RETRY_DELAY=
BILIBILI_BUVID3=96F51D3A-AF11-5C4F-9ECE-A1F42BD2509117059infoc

# Bilibili Dynamic Monitor Configuration
ENABLE_DYNAMIC_MONITOR=true
CRAWL_DYNAMIC_INTERVAL_MIN=10
BILIBILI_UID_GROUP_BINDINGS={"12345":["@10001","10002"]}
BILIBILI_DYNAMIC_BUVID3=
BILIBILI_DYNAMIC_BUVID4=
BILIBILI_DYNAMIC_SESSDATA=
