anyio==4.12.0
apscheduler==3.11.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2025.11.12
dotenv==0.9.9
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
playwright==1.56.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
pyee==13.0.0
python-dotenv==1.2.1
python-telegram-bot==22.5
soupsieve==2.8
sqlalchemy==2.0.44
tenacity==9.1.2
typing-extensions==4.15.0
tzlocal==5.3.1
